body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#output {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.postal {
    width: 49%;
    height: 600px;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: relative;
}

.back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front .content {
    text-align: center;
    padding: 20px;
}

.front h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.front p {
    margin: 5px 0;
    font-size: 18px;
    color: #555;
}

#savedDesigns .postal {
    margin-top: 10px;
}
